.Tag {
    display: inline-flex;
    align-items: center;

    padding: 4px 6px;

    border-radius: 4px;

    background-color: rgba(var(--color-gray-rgb), 0.1);

    font-size: var(--font-size-11);
    color: var(--color-gray);
    line-height: 16px;
    letter-spacing: 0.07px;

    transition-property: color, background-color;
    transition: 150ms ease-in;
}

.Tag svg,
.Tag div {
    flex-shrink: 0;
    margin-right: 2px;
}

.Tag svg {
    fill: var(--color-gray);
    transition: fill 150ms ease-in;
}

.Tag--red {
    background-color: rgba(var(--color-red-rgb), 0.1);
    color: var(--color-red);
}

.Tag--red svg {
    fill: var(--color-red);
}

.Tag--green {
    background-color: rgba(var(--color-green-rgb), 0.1);
    color: var(--color-green);
}

.Tag--green svg {
    fill: var(--color-green);
}

.Tag--blue {
    background-color: rgba(var(--color-primary-rgb), 0.1);
    color: var(--color-primary);
}

.Tag--blue svg {
    fill: var(--color-primary);
}