.Loader {
    position: relative;

    overflow: hidden;
    cursor: wait;
}

.Loader--spinner {
    width: 40px;
    height: 40px !important;
}

.Loader--invoice {
    display: block;

    width: 100%;
    max-width: 395px;
    height: auto;

    opacity: 0.2;

    animation: clumsy 3s infinite;
}

.Loader--is-center {
    margin-right: auto;
    margin-left: auto;
}

.Loader--is-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes clumsy {
    0% {
        opacity: 0.2;
    }

    33% {
        opacity: 0.1;
    }

    66% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.2;
    }
}