.Input {
    position: relative;
}

.Input--disabled {
    opacity: 0.3;
}

.Input__label {
    display: block;
    
    margin-bottom: 6px;

    font-size: var(--font-size-13);
    font-weight: var(--font-weight-medium);
    letter-spacing: -0.08px;
    color: var(--input_color-label);
    text-transform: uppercase;

    transition: color 150ms ease-in;
}

.Input__label::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    content: '';

    width: 100%;
    height: 100%;
}

.Input__label--filled {
    color: var(--color-gray);
}

.Input__label--focus {
    color: var(--color-primary);
}

.Input__control,
.Input__buffer,
.Input__postfix {
    font-size: var(--font-size-52);
    letter-spacing: -0.41px;
}

.Input__control {
    width: 100%;
    max-width: 100%;
    height: 70px;

    border: 0;

    background-color: var(--input_background);
    color: var(--input_color);

    outline: none;
}

.Input__control::placeholder,
.Input__postfix--blur {
    color: var(--input_color-placeholder);
}

.Input__buffer {
    position: absolute;
    top: -1000px;
    left: -1000px;

    visibility: hidden;
    white-space: nowrap;
}