.Row {
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: var(--font-size-17);
}

.Row .InfoRow__title {
    font-size: var(--font-size-11);
    letter-spacing: 0.07px;
    user-select: none;
}