.Review {
    position: relative;
    display: flex;
    
    padding-top: 15px;
    padding-bottom: 15px;
}

.Review__Avatar {
    flex-shrink: 0;
    margin-right: 15px;
}

.Review__name {
    display: inline-block;

    margin-bottom: 4px;

    font-size: var(--font-size-17);
    letter-spacing: -0.41px;
}

.Review__user-mark {
    color: var(--color-gray);
}

.Review__name::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    content: '';

    width: 100%;
    height: calc(100% - 44px);
}

.Review__text {
    margin-bottom: 6px;

    font-size: var(--font-size-15);
    line-height: 22px;
    letter-spacing: -0.24px;
}

.Review__footer {
    display: flex;
}

.Review__IconLike--dislike {
    transform: rotate(180deg);
}

.Review__remove-review {
    height: 24px;
    margin-left: 10px;

    border: 0;

    background-color: transparent;

    font-size: var(--font-size-11);
    color: var(--color-red);
    letter-spacing: -0.07px;
}