.Timetable {
    max-height: 54px;
    transition: max-height 100ms ease-in;
    overflow: hidden;
}

.Timetable--hide {
    max-height: 0;
}

.Timetable__timetable {
    color: var(--color-red);
}

.Timetable__timetable--opened {
    color: var(--color-green);
}

.Timetable__Loader {
    margin-bottom: 8px;
}