.Button {
    display: inline-block;

    padding: 7px 14px;

    border: none;
    border-radius: 27px;
    
    background-color: var(--button-default_background);
    
    font: inherit;
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-semibold);
    color: var(--button-default_color);
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: -0.08px;
    
    cursor: pointer;

    transition: transform 150ms ease-in;
}

.Button:active:not([disabled]) {
    transform: scale(0.95) translateY(1px);
}

/**
 * Themes
 */
.Button.Button--primary {
    background-color: var(--button-primary_background);
    color: var(--button-primary_color);
}

.Button.Button--secondary {
    background-color: var(--button-secondary_background);
    color: var(--button-secondary_color);
}

/**
 * Sizes
 */
.Button.Button--medium {
    padding: 12px 16px;

    border-radius: 6px;

    font-size: var(--font-size-15);
    line-height: 24px;
    text-transform: none;
}

/**
 * Options
 */
.Button.Button--with-before {
    position: relative;
    padding-right: 48px;
    padding-left: 48px;
}

.Button.Button--full {
    width: 100%;
    max-width: 100%;
}

.Button.Button--backlight {
    box-shadow: var(--button_backlight);
}

.Button svg {
    width: 16px;
    height: 16px;
    fill: var(--button_svg-fill);
}

.Button__before {
    position: absolute;
    top: 14px;
    left: 14px;
}