.Success {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.Success__icon {
    position: relative;

    width: 80px;
    height: 80px;

    border-radius: 50%;

    box-sizing: content-box;

    border: 4px solid #4CAF50;
}

.Success__icon::before {
    top: 3px;
    left: -2px;

    width: 30px;

    border-radius: 100px 0 0 100px;

    transform-origin: 100% 50%;
}

.Success__icon::after {
    top: 0;
    left: 30px;

    width: 60px;

    border-radius: 0 100px 100px 0;

    transform-origin: 0 50%;

    animation: rotate-circle 4.25s ease-in;
}

.Success__icon::before,
.Success__icon::after {
    position: absolute;
    content: '';

    height: 100px;

    background: transparent;

    transform: rotate(-45deg);
}

.Success__icon-line {
    position: absolute;
    z-index: 10;

    display: block;

    height: 5px;

    border-radius: 2px;

    background-color: #4CAF50;
}

.Success__icon-line.Success__icon-line--line-tip {
    top: 46px;
    left: 14px;

    width: 25px;

    transform: rotate(45deg);
    animation: line-tip 0.75s;
}

.Success__icon-line.Success__icon-line--line-long {
    top: 38px;
    right: 8px;

    width: 47px;

    transform: rotate(-45deg);
    animation: line-long 0.75s;
}

.Success__icon-circle {
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 10;

    width: 80px;
    height: 80px;

    border-radius: 50%;

    box-sizing: content-box;

    border: 4px solid rgba(76, 175, 80, .5);
}

.Success__icon-fix {
    position: absolute;
    top: 8px;
    left: 26px;
    z-index: 1;

    width: 5px;
    height: 85px;

    background-color: transparent;

    transform: rotate(-45deg); 
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}