.Spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Spinner__Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    width: 100px;
    height: 100px;

    animation: scale 3s infinite;
}

@keyframes scale {
    0% {
        transform: translate3d(-50%, -50%, 0) scale(1);
    }

    50% {
        transform: translate3d(-50%, -50%, 0) scale(1.1);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) scale(1);
    }
}