.Home .Panel__in {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.Home__FixedLayout .FixedLayout__in {
    display: flex;
    justify-content: center;

    width: 100%;
    padding-bottom: 40px;
}

.Home__Button {
    flex-shrink: 0;
    max-width: 78% !important;
}

.Home__ShopCard {
    margin-bottom: 10px;
}