.Shop__Wrapper {
    padding-bottom: 90px !important;
}

.Shop__Tabs {
    margin-bottom: 30px;
}

.Shop__details > summary {
    display: none;
}

.Shop__ShopCard,
.Shop__Gallery {
    margin-bottom: 20px;
}

.Shop__Gallery {
    margin-right: auto;
    margin-left: auto;
}

.Shop__Row {
    margin-bottom: 10px;
}

.Shop__timetable {
    color: var(--color-red);
}

.Shop__timetable--opened {
    color: var(--color-green);
}

.Shop__Accordion {
    margin-bottom: 10px;
}

.Shop__no-reviews {
    text-align: center;
}

.Shop__show-more {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.Shop__FixedLayout .FixedLayout__in {
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
}

.Shop__Success {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 360px) {
    .Shop__FixedLayout .FixedLayout__in {
        padding-right: 20px;
        padding-left: 20px;
    }
}