.ShopCard {
    display: flex;
    
    padding-top: 15px;
    padding-bottom: 15px;

    overflow: hidden;
}

.ShopCard__Avatar {
    flex-shrink: 0;
    margin-right: 15px;
}

.ShopCard__info {
    flex-grow: 3;
    overflow: hidden;
}

.ShopCard__name {
    margin-bottom: 2px;

    font-size: var(--font-size-17);
    font-weight: var(--font-weight-normal);
    color: var(--shop-card_color-name);
    letter-spacing: -0.408px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ShopCard__activity {
    font-size: var(--font-size-15);
    color: var(--shop-card_color-activity);
    letter-spacing: -0.24px;
}

.ShopCard__tags {
    display: flex;
    flex-wrap: wrap;

    margin-top: 8px;
}

.ShopCard__Tag {
    margin-right: 10px;
}

.ShopCard__IconLike--dislike {
    transform: rotate(180deg);
}

.ShopCard__IconLike--margin {
    margin-right: 0;
    margin-left: 2px;
}