.ShopCard {
    display: flex;
    
    padding-top: 15px;
    padding-bottom: 15px;

    overflow: hidden;
}

.ShopCard__Avatar {
    flex-shrink: 0;
    margin-right: 15px;
}

.ShopCard__info {
    flex-grow: 3;
    overflow: hidden;
}

.ShopCard__name {
    margin-bottom: 2px;

    font-size: var(--font-size-17);
    font-weight: var(--font-weight-normal);
    color: var(--shop-card_color-name);
    letter-spacing: -0.408px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ShopCard__activity {
    font-size: var(--font-size-15);
    color: var(--shop-card_color-activity);
    letter-spacing: -0.24px;
}

.ShopCard__cashback {
    flex-shrink: 0;

    margin-left: auto;
    padding-left: 15px;

    font-size: var(--font-size-11);
    color: var(--shop-card_color-cashback);
    text-align: right;
    letter-spacing: 0.066px;
}

.ShopCard__cashback--value {
    font-size: var(--font-size-17);
    letter-spacing: -0.408px;
}