* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #007AFF;
    --color-primary-rgb: 0, 122, 255;
    --color-gray: #ABB2C6;
    --color-gray-rgb: 171, 178, 198;
    --color-light-gray: #F2F3F5;
    --color-red: #FF3B30;
    --color-red-rgb: 255, 59, 48;
    --color-green: #27AE60;
    --color-green-rgb: 39, 174, 96;

    --header_background-secondary: var(--color-white);

    --font-size-11: 11px;
    --font-size-13: 13px;
    --font-size-15: 15px;
    --font-size-17: 17px;
    --font-size-28: 28px;
    --font-size-52: 52px;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    /**
     * Button Component
     */
    --button-default_background: var(--color-white);
    --button-default_color: var(--color-primary);

    --button-secondary_background: rgba(var(--color-primary-rgb), 0.1);
    --button-secondary_color: var(--color-primary);

    --button-primary_background: var(--color-primary);
    --button-primary_color: var(--color-white);

    --button-black_background: var(--color-white);
    --button-black_color: var(--color-black);

    --button-black_backlight: 0px 10px 10px rgba(0, 0, 0, 0.35);
    --button-primary_backlight: 0px 10px 30px rgba(var(--color-primary-rgb), 0.5);

    /**
     * Map Component
     */
    --map_icon_box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    /**
     * Title Component
     */
    --title_color: var(--color-black);

    /**
     * AddReviewForm Component
     */
    --add-review-form__field-background: var(--color-white);

    /**
     * Popup Component
     */
    --popup-dialog-background: var(--color-white);

    /**
     * ShopCard Component
     */
    --shop-card_color-name: var(--color-primary);
    --shop-card_color-activity: var(--color-gray);
    --shop-card_color-cashback: var(--color-primary);

    /**
     * Link Component
     */
    --link_color: var(--color-primary);
    --link_fill: var(--color-primary);

    /**
     * Search Component
     */
    --search_background-input: var(--color-light-gray);
    --search_color: var(--color-black);
    --search_color-reset: var(--color-primary);

    /**
     * Inout Component
     */
    --input_color-label: var(--color-black);
    --input_color: var(--color-black);
    --input_color-placeholder: var(--color-light-gray);

    /**
     * Order Panel
     */
    --order_background-value: var(--color-white);
    --order_color-value: var(--color-black);
}

body[scheme="client_light"],
body[scheme="bright_light"] {
    --header_background: rgba(0, 0, 0, 0);
    --background_page: var(--color-white);
    --header_text: var(--color-primary);
    --header_tint: var(--color-primary);
    --text_secondary: var(--color-gray);
}

body[scheme="client_dark"],
body[scheme="space_gray"] {
    --header_background: rgba(0, 0, 0, 0);
    --background_page: #212121;
    --header_text: var(--color-primary);
    --header_tint: var(--color-primary);
    --text_primary: var(--color-white);

    --header_background-secondary: #212121;

    --button-default_background: #212121;
    --button-black_background: #212121;
    --button-black_color: var(--color-white);

    --map_icon_box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);

    --title_color: var(--color-white);

    --add-review-form__field-background: #212121;

    --popup-dialog-background: #212121;

    --search_background-input: #313131;
    --search_color: var(--color-white);
    --search_color-reset: var(--color-white);

    --input_color-label: var(--color-white);
    --input_color: var(--color-white);
    --input_color-placeholder: #313131;

    --order_background-value: #212121;
    --order_color-value: var(--color-white);
}

body[scheme="client_dark"] .Map *[class*="ground-pane"],
body[scheme="space_gray"] .Map *[class*="ground-pane"] {
    filter: grayscale(100%) invert(100%);
}


body[scheme="client_dark"] .Map *[class*="map-bg"],
body[scheme="space_gray"] .Map *[class*="map-bg"] {
    background: #212121;
}

button {
    outline: none;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.PanelHeader,
.PanelHeader * {
    box-sizing: unset;
}