* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #007AFF;
    --color-primary-rgb: 0, 122, 255;
    --color-gray: #ABB2C6;

    --header_background: rgba(0, 0, 0, 0);
    --background_page: var(--color-white);
    --header_text: var(--color-primary);
    --header_tint: var(--color-primary);

    --font-size-11: 11px;
    --font-size-13: 13px;
    --font-size-15: 15px;
    --font-size-17: 17px;

    --font-weight-normal: 400;
    --font-weight-semibold: 600;

    /**
     * Button Component
     */
    --button-default_background: var(--color-primary);
    --button-default_color: var(--color-white);
    --button-primary_background: var(--color-primary);
    --button-primary_color: var(--color-white);
    --button_backlight: 0px 10px 30px rgba(var(--color-primary-rgb), 0.5);
    --button_svg-fill: var(--color-white);

    /**
     * Popup Component
     */
    --popup-dialog-background: var(--color-white);

    /**
     * ShopCard Component
     */
    --shop-card_color-name: var(--color-black);
    --shop-card_color-activity: var(--color-gray);
    --shop-card_color-cashback: var(--color-primary);

    /**
     * Link Component
     */
    --link_color: var(--color-primary);
    --link_fill-arrow: var(--color-primary);
}

button {
    outline: none;
}

.PanelHeader,
.PanelHeader * {
    box-sizing: unset;
}